.mainText .navBar, .navBar
{
    margin:30px 0 30px 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mainText .navBar h2, .navBar h2
{
    font-family: Main;
    font-size: 15px;
    font-weight: lighter; 
    color: #fff6c5;
}

.item
{
	border: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(0, 0, 0, .6);
    cursor: pointer;
    
    opacity: 1;
	text-align: center;
	text-decoration: none;
	
    border-radius: 15px;
    padding: 15px;
	margin: 10px;
    transition:all 0.5s ease-in-out;
}

.item:hover
{
	/* opacity:.8; */
    border:1px solid rgba(255, 248, 193, 5);
    background-color: rgba(0, 0, 0, .9);
    
}

.mainText
{
    background-color: rgba(0, 0, 0, .75);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    /* z-index: 999; */
    width : 80%;
    margin-bottom: 30px;
}

.mainText h1
{
    font-family: 'description';
    /* font-family: serif; */
    text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
    font-size: 30px;
    font-weight: lighter;
    color : white;
}

.mainText h2
{
    font-family: 'description';
    /* font-family: serif; */
    text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    color : #fff6c5;
    /* opacity : 0.8; */
}

.mainText h3
{
    font-family: "Antic Slab";
    /* font-family: serif; */
    text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
    font-size: 19px;
    font-weight: lighter;
    letter-spacing: 0px;
    color : white;
    opacity : 0.8;

    /* text-align: justify; */
}

.letrine
{
    font-family: body;
    font-size: 50px;
    color: #fff6c5;
}

@media screen and (max-width: 700px)
{
    .item
    {
        flex:1; 
        padding:30px;
    }

}

@media screen and (min-width: 1500px)
{
    .mainText
    {
        width : 50%;
    }
}
