.fieldSetConect 
{
    display: flex;
    flex-direction: column;
    justify-content: center;

	width: 300px;
	padding: 50px 50px ;
	
	border: 1px solid rgba(255, 248, 193, 0.5);
	border-radius: 15px;
	
	margin-bottom:0px;
	margin-right: auto;
	margin-left: auto;
	
    background-color: rgba(0, 0, 0, .6);
    color: #fff6c5;
    font-size: 20px;
    font-family: 'MAIN';
    text-align: left;

    /* z-index: 999; */
}

.fieldSetConnect button
{
    /* margin-top: 30px; */
}

.fieldSetConect legend
{
    font-size: 20px;
    float: left;
    margin-bottom: 40px;
    text-align: center;
}

.checkbox
{
    display: flex;
    flex-direction: column;
    align-self: center;
    /* border:1px solid white; */
}

.checkbox *
{
    margin: auto;
}

.textConect
{
    font-size: 15px;
}

.item_connexion
{
	display: flex;
	flex-direction: column;
    
    background-color: black;
    color: white;
    
	text-align: center;
	border-radius: 15px;
    margin-bottom:10px;
    padding: 20px;

    font-family: 'MAIN';
}

.connectButton
{
    background-color: black;

    padding: 15px;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    border:1px solid#fff6c5;

    cursor: pointer;
    font-family: 'MAIN';
    transition:all 1s ease-in-out;
}

.connectButton:hover
{
    background-color: grey;
    opacity:1;
    border:1px solid green;
    color:black;
}

.textConnexion
{
    border : 1px solid greenyellow;
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    font-size: 15px;
    font-family: Main;
    margin:auto;
    padding:20px;
    width: 80%;
}

legend
{
    font-size: 25px;
    text-shadow: 0px 0px 10px black, 0px 0px 20px black, 0px 0px 30px black;
}


@media screen and (max-width: 700px)
{
    .fieldSetConect
    {
        width : 90vw;
        /* padding: 20px; */
        border: 1px solid rgba(255, 248, 193, 0.5);
        border-radius: 15px;
        
        /* padding-top:50px; */
        padding:0;
        margin:0px;
        /* margin-right: auto; */
        /* margin-left: auto; */
        
    }
    .fieldSetConect legend
    {
        margin-top: 30px;
    }

    .fieldSetConect input
    {
		margin:auto;
        margin-bottom:10px;
        width: 80%;
    }

    .fieldSetConect button
    {
		margin:auto;
        margin-top: 10px;
        margin-bottom: 20px;
        width: auto;
        
    }
}