.vente
{
    display: flex;
    flex-direction: column;

    border : 1px solid #fff6c5;
    /* border-radius: 20px; */
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    font-size: 15px;
    font-family: Main;
    margin:auto;
    margin-bottom: 50px;
    padding:50px;
}

.tabHeadVente
{
    background-color: rgba(0, 0, 0, 1);
    color:#fff6c5;
    font-family: Main;
}

.tabBodyVente
{
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    font-family: Main;
    /* font-size: large; */
}

.tabBodyVente a
{
    text-decoration: none;
    color:white;
}

.tabBodyVente td{
    border: 1px solid rgba(255, 248, 193, .3);
    padding:10px;
  }

.tabHeadVente th{
    border: 1px solid rgba(255, 248, 193, .3);
    padding:5px;
}

.messagerie table {
    border-collapse: collapse;
  }


.selectType
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    flex-basis: 60%;
    
    background-color: transparent;
	color: white;
	text-align: center;

	padding: 0;
    margin:auto;
}

.selectType a
{
    text-decoration: none;
}

.item_info
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

	color:white;
	background-color: rgba(255, 255, 255, .1);
	border:1px solid rgba(255, 248, 193, 0.1);
	
	padding:15px;

	cursor: pointer;
	font-size: 12px;
    border-radius: 15px;

    transition: transform 2s ease;
}

.item_info:hover
{
	opacity:1;
	border:1px solid rgba(65, 62, 47, 0.3);
	
	transform: scale(1.1);
}

.action h5
{
    color : green;
    cursor: pointer;
}

.action h5:hover
{
    color : rgba(255, 248, 193, 1);;
}


@media screen and (max-width: 1000px)
{

    .vente{
        padding:0px;
        padding-top:30px;
        /* padding-bottom:30px; */
    }


    .tabBodyVente td{
        border: 1px solid rgba(255, 248, 193, .3);
        padding:5px;
    }

    .tabHeadVente th{
        border: 1px solid rgba(255, 248, 193, .3);
        padding:5px;
    }
}