.detailsAnnonceForm
{
	display: flex;
	flex-direction: column;
    justify-content: center;
    

    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding : 50px;
    padding-bottom:0px;
    width: 100%;

	background-color: rgba(0, 0, 0, .2);
    /* background-color: transparent; */

    color:rgba(255,255,255,.8);
    border:1px solid #fff6c580;
    font-family: 'MAIN';
    
}

.detailsAnnonceForm fieldset 
{
    display: flex;
    flex-direction: column;

	/* width: min-content; */
    padding:20px ;
    width: 700px;
    
    /* color : rgb(255, 248, 193); */
    /* color : rgb(255, 255, 255); */
	text-align:left;
	
	border:1px solid rgba(255, 248, 193, 0.5);
	/* border-radius: 15px; */
	
	margin-bottom:30px;
	margin-right: auto;
    margin-left: auto;
    
	background-color: grey;
    /* background-color: rgba(0, 0, 0, .5); */
}

.detailsAnnonceForm textarea, select, option
{
    background-color: rgba(255,255,255,.7);
    text-align: center;
    font-size: 18px;
    padding:15px; 
    font-family: 'Main';
    color:rgba(0,0,0,1);
    
    width: auto;
    margin-right: auto;
    margin-left: auto;

    
}

.detailsAnnonceForm label
{
    color: rgba(255,255,255,0.86);
}

.detailsAnnonceForm input
{
    color: rgba(255, 248, 193, .8);
    /* background-color: tomato; */
}

.detailsAnnonceForm legend 
{
	color : rgba(255, 248, 193, 0.8);
    text-align : left;
    font-size: 1em;
    font-family: Main;
}

.visu_annonce
{
    display:flex;
    background-color:  rgba(0, 0, 0, 0.75);
    font-family: 'MAIN';
}


._item
{
	border:1px solid#fff6c580;
    background-color: rgba(0, 0, 0, .6);
    
    padding: 20px;
	color: white;
    cursor: pointer;
    
    opacity: 1;
    font-family: Main;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	
	border-radius: 15px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    /* width: min-content; */
    transition:all 0.5s ease-in-out;
}

._item:hover{
    background-color: rgba(0, 0, 0, .8);
}

.pHHead
{
    color: rgba(255, 248, 193, .8);
    font-size: 1.5em;
    font-weight: lighter;
    z-index:0;
}


.pBBody
{
    font-size: 20px;
    font-family: "Antic Slab";
    font-weight: lighter;
    text-align: justify;
    opacity : 0.9;
    z-index: 0;
}





/* ####################################### */
/* ######### VISUALISER ANNONCE ######### */
/* ###################################### */
.sectionScan
{
    border: 1px solid rgba(255, 248, 193, .2);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding:20px;
    background-color: rgba(0,0,0,.3);
    text-align: center;    
}
.sectionScan fieldset
{
    margin-top:50px;
    border: 1px solid rgba(255, 248, 193, .5);
    padding : 20px;
    background-color: black;
    /* z-index: 0; */
}
/****************************/
._section_scan fieldset p
{
    color:rgba(255, 255, 255, .8);
}

/****************************/
.sectionScan a img
{
    border:1px solid white;
    max-width: 150px;
    max-height: auto;
    transition: transform 2s ease;
    transform-origin: left top;   
    /* z-index: 999;   */
}

/****************************/
.sectionScan a img:hover
{
    transform: scale(3);
    transform-origin: left top;
}

.sectionScan a:nth-child(1) img
{
    z-index: 999;
}
.sectionScan a:nth-child(2) img
{
    z-index: 998;
}


/* ################## */
.sectionDesc
{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid rgba(255, 248, 193, .2);
    flex: 4;
    text-align: center;
    color:rgba(255, 255, 255, .8);
    background-color: transparent;
    padding:30px 150px 50px 150px;
    z-index: 0;
}
.sectionDesc p
{
    z-index: 0;
}

.sectionDesc .annee
{
    font-size: 16px;
    font-family: "Antic Slab";
    opacity:0.8;
}
.sectionDesc a img
{
    border:1px solid white;
    max-width: 150px;
    max-height: auto;
    transition: transform 2s ease;
    transform-origin: center;                
}

.sectionDesc a img:hover
{
    transform: scale(3);
    transform-origin: center;

}

/****************************/
.sectionDesc fieldset
{
    border: 1px solid rgba(0, 0, 0, .5);
    /* border: 1px solid rgba(0, 0, 0, 1); */
    padding : 30px;
    background-color: rgba(200, 200, 200, .7);
    color:black;
    /* letter-spacing: 1px; */
    
}
/****************************/

.sectionDesc .flexDiv
{
    display:flex;
    align-items: center;
}

.sectionDesc .flexDiv img
{
    margin-right:30px;
    margin-left:10px;
    z-index: 999;
    border:1px solid rgba(255, 248, 193, .5);
}


.sectionDesc legend
{
    color: rgba(255, 248, 193, 1);
    text-align: left;
    font-size: 20px;
}

/****************************/

h1, h2, h3, h4, h5, h6, p 
{
    display: inline;
}

h4
{
    font-size:15px;
}

h6
{
    font-size:17px;
}

h1
{
    color : rgb(255, 248, 193);
    font-size:23px;
}

span
{
    color:rgb(255, 248, 193);
    font-size: 17px;
}

hr
{
    width:25%;
    border: 1px solid rgba(255, 255, 255, .2);
    margin : 10px;
}


/* ################################### */
/* ######### ACHETER ANNONCE ######### */
/* ################################### */
.BlockAchat
{
    display: flex;
    flex-direction: column;
    /* width:90% */
}

.panneaux
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    /* border: 1px solid red; */
    background-color: transparent;

    /* margin: auto; */
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'MAIN';
}

.panneau_facturation
{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid rgba(255, 248, 193, .6);
    background-color: rgba(0,0,0,1);

    padding : 50px;
    color:rgba(255,255,255, .8);
    
    /* margin: auto; */
}
.item_connexion
{
    width:25em;
}


._fieldSetConect
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid rgba(255, 248, 193, .6);
    margin-bottom: 20px;
    padding:30px;
    background-color: rgba(255,255,255,.5);
    width:80%;
}

.field
{
    padding:20px;
    font-size: 20px;
    color : #fff6c5;
    margin-bottom: 20px;
    /* border:1px solid #fff6c5; */
}

.panneau_paiement
{
    display: flex;
    flex-direction: column;
    
    border: 1px solid rgba(255, 248, 193, .6);
    background-color: rgba(0,0,0,1);
    
    padding : 50px;
    /* height:300px; */
    color:rgba(255,255,255, .8);
}


.paiement
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(255,255,255,.5);
    border : 1px solid rgba(255, 248, 193, .7);
    padding : 30px;
    margin-bottom : 10px;
    width:80%;
    color:black;
    font-size: 20px;
}

.link p
{
    color :#fff6c5;
    font-size: 15px;
    transition: all 1s ease-in-out
}

.link p:hover
{
    color:red;
}


fieldset > .checkBoxClass
{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px)
{
    .sectionDesc
    {
        /* margin:0; */
        padding:10px;
        /* width:70vw; */
    }
}

@media screen and (max-width: 800px)
{
    .visu_annonce
    {
        flex-direction: column;
    }

    .sectionDesc
    {
        order: 0;
        padding: 30px 10px 0 10px;
    }

    .sectionScan
    {
        order: 1;margin:0;
    }

    .flexDiv
    {
        flex-direction: column;    
    }

    .flexDiv img
    {
        flex-direction: column;  
        margin-top: 10px;  
        margin-bottom: 30px;  
    }

    .sectionScan a img
    {
        transform-origin: center top;
    }

    .sectionScan a img:hover
    {
        transform: scale(3);
        transform-origin: center top;
    }

    .detailsAnnonceForm
    {
        margin-right: auto;
        margin-left: auto;
        padding : 0;
        padding-top : 20px;
        width: 100%;

        background-color: rgba(0, 0, 0, .6);
        border:1px solid #fff6c580;
        font-family: 'MAIN';
    }


    .detailsAnnonceForm textarea, select, option
    {
        margin:0;
        width: 80%;
    }

    .detailsAnnonceForm fieldset 
    {
        width:90%;
        align-items: center;
    }

    .panneaux
    {
        flex-direction: column;
        margin:0px;
        margin-top:20px;
        padding:0;
    }

    .panneau_paiement
    {
        
        padding : 20px;
        padding-top : 40px;
        margin : 0;
        margin-bottom: 20px;
    }

    .paiement
    {
        margin:0;
        padding:30px;
        margin-top:0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom : 10px;
        width: 65%;
    }

    .panneau_facturation
    {
        padding : 10px;
        padding-top : 40px;
        margin : 0;
        margin-bottom: 20px;
    }

    ._fieldSetConect
    {
        margin : 0;
        margin-bottom: 20px;
        padding : 0px;
        padding-bottom: 20px;
        width:70%;
    }

    ._fieldSetConect *
    {
        margin : 0 auto 0 auto;
        padding : 20px;
        width: 80%;
    }

    .sectionDesc fieldset
    {
        margin-bottom: 20px;
        width: auto;
    }
	

}

@media screen and (max-width: 400px)
{
    ._fieldSetConect
    {
        width:100%;
    }

    .paiement
    {
        width: 80%;
    }
}

