.searchBar
{
    background-color: transparent;
    /* z-index: 999; */
}

.searchForm
{
    display: flex;
    flex-direction: row;
	border:1px solid#fff6c580;
	background-color: rgba(0, 0, 0, .6);
	border-radius: 15px;
	padding:20px;
}

.infoSearchResult
{
    background-color: transparent;
}

.searchInput
{
    background-color: white;
    font-family: 'MAIN';
}

.searchButton
{
    border: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(0, 0, 0, .4);
    
	color: #fff6c5;

    padding: 10px;
    margin-left: 20px;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 15px;
	cursor: pointer;
    /* margin-left: 20px; */
    text-decoration: none;
    font-family: 'MAIN';
}

.searchButton:hover
{
	border:1px solid rgba(255, 248, 193, 5);
    background-color: rgba(0, 0, 0, .9);
    color:white;
}